body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 16px;
}

.container-img {
    height: 60%;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
}

.container-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
  
.info-container {
    padding: 8px 16px;
    text-align: center;
}

.info-container h3 {    
    color: hsl(218, 44%, 22%);
    margin-top: 16px;
    font-size: 19px;
    font-weight: 700;

}

.info-container p {    
    color: hsl(220, 15%, 55%);
    margin-top: 16px;
    font-size: 19px;
    font-weight: 400;

}

/* hide sr-only class */
.sr-only {  
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}